[submodule "tree-sitter-java"]
	path = tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
[submodule "tree-sitter-groovy"]
	path = tree-sitter-groovy
	url = https://github.com/murtaza64/tree-sitter-groovy.git
